* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*박스의 크기를 어떤것을 기준으로 계산할지 정하는 */
}

a {
  text-decoration: none;
}

body {
  background-color: #282828;
}

.parent {
  position: relative;
  left: 71.5px;
  width: 100px;
  height: 100px;
  border: 2px white solid;
  perspective: 800px; /*원근법을 조절할때 쓰는3*/
}

.cube {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  animation: rotateCube 3s infinite linear normal;
  /*    animation-name: rotateCube;
        animation-duration: 3s;
        animation-timing-function: linear; 애니메이션의 진행 속도, linear로 설정시 처음부터 끝까지 일정한 속도로 진행.
        animation-iteration-count: infinite (반복 횟수, 무한한)
        animation-direction: normal 애니메이션의 진행방향을 정하는 속성
  */
}

@keyframes rotateCube {
        from { transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);   }
        to   { transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg); }
    }
    .cube-face {
        position    : absolute;
        width       : 100%;
        height      : 100%;
        box-sizing  : border-box;
        border      : 3px solid white;
        box-shadow  : 0px 0px 40px 5px yellow;

    }

    .cube-face-front  { background: hsla(  0, 100%, 50%, 0.5); }
    .cube-face-right  { background: hsla( 60, 100%, 50%, 0.5); }
    .cube-face-back   { background: hsla(120, 100%, 50%, 0.5); }
    .cube-face-left   { background: hsla(180, 100%, 50%, 0.5); }
    .cube-face-top    { background: hsla(240, 100%, 50%, 0.5); }
    .cube-face-bottom { background: hsla(300, 100%, 50%, 0.5); }

    .cube-face-front  { transform: rotateY(  0deg) translateZ(50px); }  /*이게 6면을 합친거네 ㅋㅋ */
    .cube-face-right  { transform: rotateY( 90deg) translateZ(50px); }
    .cube-face-back   { transform: rotateY(180deg) translateZ(50px); }
    .cube-face-left   { transform: rotateY(-90deg) translateZ(50px); }
    .cube-face-top    { transform: rotateX( 90deg) translateZ(50px); }
    .cube-face-bottom { transform: rotateX(-90deg) translateZ(50px); }



.container {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.enteringButton {
  margin-top: 80px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 3rem;
  color: white;
  font-family: fantasy;
}

.namming {
  color: white;
  font-family: fantasy;
  font-size: 1.2rem;
